  <!-- Begin Mailchimp Signup Form -->
<div class="col-lg-6 col-sm-12 col-md-6 d-flex justify-content-center">
  <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
  <style type="text/css">
      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
      /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>
<div class="card" style="width: 23rem;">
  <div class="card-body">
    <h5 class="card-subtitle text-center text-muted mb-3">Want to learn more?</h5>
    <h3 class="card-title text-uppercase text-center">Subscribe to our newsletter</h3>
    <div id="mc_embed_signup" class="input-group" class="col-md-12">
      <form class="col-md-12" action="https://gmail.us17.list-manage.com/subscribe/post?u=b188f8bb26b1205cd76b9a2f0&amp;id=98c64a84ba" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll" class="col-md-12">
          <input type="email" value="" name="EMAIL" class="form-control col-md-12" id="mce-EMAIL" placeholder="Email Address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_b188f8bb26b1205cd76b9a2f0_98c64a84ba" tabindex="-1" value="">
            </div>
            <div class="card-body">
              <div class="clear">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="card-link btn col-lg-12" style="background-color: #ffde59">
              </div>
            </div>
        </div>
      </form>
    </div>
  </div>
</div>