---
layout: default-nowrapper
---

<div class="container">
  {{ content }}

  {%- if site.posts.size > 0 -%}
  <div class="row">
      {%- for post in site.posts -%}
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <div class="card col-md-3 col-lg-3 ml-5 mt-3">
            <div class="card-body">
              <span class="post-meta">{{ post.date | date: date_format }}</span>
              <h3>
                  <a class="post-link" href="{{ post.url | relative_url }}">
                      {{ post.title | escape }}
                  </a>
              </h3>
            </div>
          </div>
      {%- endfor -%}
    </div>
  {%- endif -%}

</div>
