---
layout: landing-default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div style="background-color: white;display:inline-block; width: 100%; padding-bottom: 5%;">
      <div class="container" style="margin-top: 5%;">
        <div class="row">
          <div class="col-lg-6 col-md-6 p-3">
            <div class="d-flex justify-content-center">
              <div>
                <h2 class="">Learn .NET faster </h2>
                <h5 class="card-subtitle mb-2 text-muted mt-3">So you wanna be a better software engineer?</h5>
                <a href="/blog/" class="btn btn-secondary btn-md active mt-3" role="button" aria-pressed="true">Read more</a>
              </div>
            </div>
          </div>
          
          {%- include landing-page-subscribe-email.html -%}
        </div>
      </div>
  </div>
</div>
<div class="svg-border-rounded text-light">
  <!-- Rounded SVG Border--><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
</div>

  {{ content }}

<style>
  .svg-border-rounded{
    margin-top: -2.5em;
  }
  .svg-border-rounded svg{
    height: 2.5rem;
    width: 100%;
    color: #f2f6fc;
    /* color: #000; */
  }
</style>